<h1>Student Entry</h1>
<table>
<tr>
    <td>Student Number: </td>
    <td><input type="text" [(ngModel)]="studNo"></td>
</tr>
<tr>
    <td>First Name: </td>
    <td><input type="text" [(ngModel)]="fname"></td>
</tr>
<tr>
    <td>Last Name: </td>
    <td><input type="text" [(ngModel)]="lname"></td>
</tr>
<tr>
    <td>Program: </td>
    <td><input type="text" [(ngModel)]="program"></td>
</tr>
<tr>
    <td>Year Level: </td>
    <td><input type="text" [(ngModel)]="year"></td>
</tr>
</table>
<button type="" (click)="onAdd()">Add Student Entry</button>
<button type="" (click)="onAdd()">List Students</button>
<app-insertdata></app-insertdata>



